# Descriptive Statistics in Python

In [16]:
import pandas as pd
import scipy
import scipy.stats
import researchpy as rp

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/researchpy/Data-sets/master/blood_pressure.csv") 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   patient    120 non-null    int64
 1   sex        120 non-null    object
 2   agegrp     120 non-null    object
 3   bp_before  120 non-null    int64
 4   bp_after   120 non-null    int64
dtypes: int64(3), object(2)
memory usage: 4.8+ KB

In [8]:
df['agegrp'].value_counts()

60+      40
30-45    40
46-59    40
Name: agegrp, dtype: int64

In [9]:
df['agegrp'].describe()

count     120
unique      3
top       60+
freq       40
Name: agegrp, dtype: object

Continuous Variables

In [3]:
df['bp_before'].describe()

count    120.000000
mean     156.450000
std       11.389845
min      138.000000
25%      147.000000
50%      154.500000
75%      164.000000
max      185.000000
Name: bp_before, dtype: float64

In [10]:
df['bp_after'].describe()

count    120.000000
mean     151.358333
std       14.177622
min      125.000000
25%      140.750000
50%      149.500000
75%      161.000000
max      185.000000
Name: bp_after, dtype: float64

Categorical Variables

In [7]:
df['sex'].describe()

count        120
unique         2
top       Female
freq          60
Name: sex, dtype: object

In [8]:
df['sex'].value_counts()

Female    60
Male      60
Name: sex, dtype: int64

## Distribution Measures

In [11]:
df['bp_before'].skew()

0.5542441047738688

In [12]:
df['bp_before'].kurtosis()

-0.4385909267217518

In [13]:
df['bp_after'].skew()

0.39336542806003727

In [14]:
df['bp_after'].kurtosis()

-0.505149016096138

In [17]:
rp.summary_cont(df['bp_before'])

    Variable      N    Mean       SD      SE  95% Conf.  Interval
0  bp_before  120.0  156.45  11.3898  1.0397   154.3912  158.5088

In [21]:
rp.summary_cont(df['bp_after'])

   Variable      N      Mean       SD      SE  95% Conf.  Interval
0  bp_after  120.0  151.3583  14.1776  1.2942   148.7956   153.921

In [18]:
rp.summary_cat(df['sex'])

  Variable Outcome  Count  Percent
0      sex  Female     60     50.0
1             Male     60     50.0

In [20]:
rp.summary_cat(df['agegrp'])

  Variable Outcome  Count  Percent
0   agegrp     60+     40    33.33
1            30-45     40    33.33
2            46-59     40    33.33